$taskHeight: 40px;


.task{
    height: $taskHeight;

    background-color: #555;
    position: absolute;    
    border-radius: 5px;
    display: flex; 
    border-width: 1px;
    border-style: solid;
}

.addButton{
    height: $taskHeight /2;
    width: $taskHeight /2;
       border-width: 1px;
    border-style: solid;
    border-color: white;
    position: absolute;  
     border-radius: 5px;
}

.channel{
    border-bottom: solid #4E4E4E 1px;
    padding-bottom: 10px;
    padding-top: 10px; 
    height: $taskHeight;
}

.percent{
    color: #EEE;
    font-size: .75em;
}


.now{                
    position: relative;
    display: inline-block;
    z-index: 2;
}

#verticalNowLine{
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: white;    
    z-index: 100;
}


h1{
    margin: 30px;
}

.gl-chart{
    overflow: hidden;
}

.info{    
    text-align: right;
    display: inline-block;
    position: absolute;
    z-index: 100;
    padding-right: 5px;
    user-select: none;
}

.dragZone{
  
    display: inline-block;
    width: 95%;
    height: 100%;
     cursor:grab;
}

.expandZone{
    background-color: #fff;
    opacity: 0.5;
    display: inline-block;
    width: 5%;
    height: 100%;
    cursor:ew-resize;
}