<h1>Chart One</h1>

<div>
  <div class="now" [ngStyle]="{ left: nowOffset + 'px' }">
    Now
    <div id="verticalNowLine"></div>
  </div>

  <div *ngFor="let channel of channels" class="channel">
    <div >
      <div class="info" *ngIf="channel.currentTask" [ngStyle]="{ width: (nowOffset - 5) + 'px' }">
        Task {{channel.currentTask.id}} {{(( nowDate.getTime() - channel.currentTask.startDate.getTime() ) / channel.currentTask.totalTime)| percentRound | percent: '1.0-0' }}
      </div>
      <div *ngFor="let item of channel.tasks" [ngStyle]="{ left: (nowOffset + (  -1 * (nowDate.getTime() - item.startDate.getTime()) / zoomScale) ) +'px', 'backgroundColor': item.color, 'width': (item.totalTime / zoomScale) + 'px' }"
        class="task">
        <div class="dragZone" (mousedown)="taskMove(item, $event)">

        </div>
        <div class="expandZone" (mousedown)="taskExpand(item, $event)">
        </div>


      </div>
    </div>
  </div>
</div>