<div id="whiteBG"></div>
<div class="center">
  <div id="dark">

    <h1>
      Primitives page
    </h1>

    <h3>
      Box Shape
    </h3>

    <div class="bar boxL">

    </div>

    <h3>
      Chart Task
    </h3>

    <div class="bar task boxL">
      <div class="boxLTitle">Dev Work</div>
      <div class="boxLSubText">60hrs</div>
    </div>

    <h3>
      Button
    </h3>

    <button class="glButton">
    Click it!
  </button>

    <h3>
      Input
    </h3>

    <div>
      <input type="text" name="test" value="Hello" class="glInput">
    </div>


    <h3>
      Loading Bars
    </h3>

    <loading-bars></loading-bars>

    <h3>
      Modal
    </h3>


    <button class="glButton" style="background-color: rgb(3, 206, 164); color: white;" (click)="myModal.show()">
    Show Modal
  </button>


    <gl-modal #myFirstModal>
      Hello World

    </gl-modal>

  </div>

  <div id="light" class="inverse">

    <h1>
      Primitives page
    </h1>

    <h3>
      Box Shape
    </h3>

    <div class="bar boxL">

    </div>

    <h3>
      Chart Task
    </h3>

    <div class="bar task boxL">
      <div class="boxLTitle">Dev Work</div>
      <div class="boxLSubText">60hrs</div>
    </div>

    <h3>
      Button
    </h3>

    <button class="glButton-inverse">
    Click it!
  </button>

    <h3>
      Input
    </h3>

    <div>
      <input type="text" name="test" value="Hello" class="glInput-inverse">
    </div>


    <h3>
      Loading Bars
    </h3>

    <loading-bars></loading-bars>

    <h3>
      Modal
    </h3>


    <button class="glButton" style="background-color: rgb(3, 206, 164); color: white;" (click)="myModal.show()">
    Show Modal
  </button>


    <gl-modal #myFirstModal>
      Hello World

    </gl-modal>

  </div>

</div>