@import './text';

$borderRadius: 10px;

/* box Large size */
.boxL{
    background: white;    
    box-shadow: $restShadow;
    border-radius:  $borderRadius 0 $borderRadius 0;
  
}


/* box Large size Reversed corners*/
.boxLR{
    @extend .boxL;
    border-radius: 0 $borderRadius 0 $borderRadius;
}

.roundedCorners{
    border-radius: $borderRadius $borderRadius $borderRadius $borderRadius;
}

.boxLTitle{
    
    @extend .boldText;    
    padding-left: 15px;
    padding-top: 3px;       
}

.boxLSubText{    
    @extend .normalText;    
    padding-left: 15px;     
}