@import './box';
@import './vars';

.glButton{
    @extend .boxL ;
    width: 150px;
    height: 30px;
    color: $black;
    line-height: 30px;
    padding-left: 15px;
     font-weight: 800;
     transition: .2s;
     user-select: none;  
     position: relative;
     left: 0px;
     top: 0px;
}


.glButton:hover {  
  box-shadow: $hoverShadow;  
}

.glButton:active{ 
  box-shadow: $restShadow;  
}
