.heaveText{

}

.boldText{
    font-weight: 600;
    font-size: 18px;   
}

.normalText{
    font-size: 18px;  
}


.header{
    @extend .boldText;
    font-size: 25px;  
}

.subText{
    @extend .normalText;
    font-size: 12px;
}