<div [ngStyle]="{ left: (nowOffset - 85) + 'px' }" class="channelName boldText">
  <button (click)="taskCreateModal.show()" class="glButton" style="margin-right: 14px;">
    +Task
  </button> {{(channel | async).name}}

</div>


<div id="conatin">
  <div *ngFor="let item of taskList | async" [ngStyle]="{ left: (nowOffset - ( (nowDate.getTime() - item.startDate) / zoomScale) ) + 'px', 'background-color': item.color, 'width': (item.totalTime / zoomScale) + 'px' }"
    class="boxL task" [ngClass]=" {transitionTiming: !dragging}"> 
    <div (mousedown)="taskMove(item, $event)" class="dragZone">
      <div class="boxLTitle" *ngIf="!channel.currentTask || channel.currentTask.id != item.id">
        <span (click)="showTaskModal(item)"> {{item.name}}</span>

      </div>
    </div>
    <div (mousedown)="taskExpand(item, $event)" class="expandZone">
    </div>
  </div>
</div>


<gl-modal #taskCreateModal>
  <gl-task-create [channelID]="channelID" (onChannelCreate)="taskCreateModal.hide()"></gl-task-create>
</gl-modal>


<gl-modal #taskInfoModal>
  <gl-task-info [task]="selectedTask"></gl-task-info>
</gl-modal>