<div id="conatin">
  <div *ngFor="let item of taskList | async" [ngStyle]="{ left: (nowOffset + ( (nowDate.getTime() - item.startDate) / zoomScale) ) + 'px', 'background-color': item.color, 'width': (item.totalTime / zoomScale) + 'px' }"
    class="boxL task">
    <div (mousedown)="taskMove(item, $event)" class="dragZone">
      <div class="boxLTitle" *ngIf="!channel.currentTask || channel.currentTask.id != item.id">
        T: {{item.name}}
      </div>
    </div>
    <div (mousedown)="taskExpand(item, $event)" class="expandZone">
    </div>
  </div>
  <!--<div (click)="addTask(channel)" class="addButton" [ngStyle]="{ left: ((nowOffset + (  -1 * (nowDate.getTime() - channel.lastTask.startDate.getTime() - channel.lastTask.totalTime ) / zoomScale) )+ 10) +'px'}">
    +
  </div>-->
</div>