<div class="canvas">

  <loading-bars [nowBar]="false"  [barHeight]="100"
    [barLenghtmax]="1920" [rows]="10" id="background"></loading-bars>

  <div class="centerElement centerElementsEdit">
    <span>
      <div class="bold iahap">Already have a project link?

      </div>
      <div>
       
        <input placeholder="ProjectCode#" class="projectCode glInput" type="text" [(ngModel)]="projectCode"><br>
         <div id="go" class="bold" *ngIf="projectCode.length > 5" (click)="projectCodeClick()">GO </div>
      </div>
      <div class="or bold">or</div>
      
        <div class="bold glButton" id="createButton" routerLink="/CreatePage"> Create Project</div>      
    </span>
  </div>
</div>