

$buttonWidth: 558px;

$border-r: 15px;
$dark: #0A1413;
$light: #F2C94C;


.centerElementsEdit{
    width: 100vw;
    text-align: center;
    background-color: #1B232D;
}

.bold{
    font-weight: bold;
}

.iahap{
    font-size: 24px;
    margin-bottom: 10px;
}


.projectCode{    
    opacity: 1.00;
    border: 2px solid white;
    box-sizing: border-box;
    color: white;
    width: $buttonWidth;
    height: 50px;
    font-weight: bold;  
    font-size: 24px;
     padding-left: 5px;
     text-align: center;
}




.or{
    text-align: center;
    height: 2em;
    line-height: 2em;
}

#go{
           
    border-radius: 5px;
      width: $buttonWidth;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    color: $light;
    display: inline-block;
    margin-top: 5px;
}

#createButton{
         height: 50px;
         line-height: 50px;
         padding-left: 5px;
         font-size: 24px;
         border: 2px solid white;
         width: $buttonWidth;
         display: inline-block;
}

.background{
    position: absolute;    
}

.canvas{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.center{
    width: 400px;
}
